@import '../../styles/abstract/_variaveis.scss';
#menuFundo {
    background: #1B1A17;
}
#menu {
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 20px;
    height: 8vh;
}

#home {
    margin: 0.5rem;
    &:hover {
        font-size: 30px;
        transition: all 0.3s;
        cursor: pointer;
    }
}

#sobre {
    margin: 0.5rem;
    &:hover {
        font-size: 30px;
        transition: all 0.3s;
        cursor: pointer;
    }
}
#contato {
    margin: 0.5rem;
    &:hover {
        font-size: 30px;
        transition: all 0.3s;
        cursor: pointer;
    }
}