@import '../../styles/abstract/_variaveis.scss';

    .botao {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 1.2rem;
        text-align: center;
        height: 30px;
        align-items: center;
        width: 100px;
        background-color: $cor-primaria;
        color: white;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        border: 2px $cor-secundaria;
        border-radius: 40px;
        &:hover {
            background-color: $cor-secundaria;
            color: black;
        }

}

